body {
  display: block;
  font-family: 'Open Sans', sans-serif;
}

#content {
  min-height: 100%;
  width: 100%;
  margin-bottom: 1.4rem;

  display: grid;
  grid-template-columns: 25rem auto;
  grid-template-rows: 6rem auto;
  grid-template-areas:
    "top top"
    "side main";
  grid-column-gap: 1rem;
}

#loader {
  height: 100%;
  width: 100%;
}

#title {
  grid-area: top;
  margin-bottom: 0;
}

#main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  padding-top: 2.4rem;
  padding-right: 1.4rem;
  height: 100%;
  overflow: hidden;
}

#main-content {
  flex-grow: 1;
}

#chart {
  border: none;
  width: 100%;
  height: 80vh;

  @media screen and (min-width: 1024px) {
    height: 100%;
    width: auto;
    aspect-ratio: 1;
  }
}

.backlink-container {
  margin-left: 1rem;

  @media screen and (min-width: 768px) {
    margin-left: 3rem;
  }

  a {
    color: var(--greenWsl);

    &::before {
      position: relative;
      content: "";
      display: inline-block;
      margin: 0 .3rem .035rem 0;
      width: 0;
      height: 0;
      border: .35rem solid transparent;
      border-right-color: var(--greenWsl);
    }
  }
}

#side {
  padding: 1.4rem;
  grid-area: side;
  border-right: 1px solid lightgrey;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.corner-ribbon {
  position: fixed;
  top: auto;
  bottom: 50px;
  right: -80px;
  z-index: 40;
  width: 300px;
  background: red;
  color: #fff;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  transform: rotate(-45deg);
}

.hidden {
  display: none !important;
}

.visualization-buttons {
  margin-bottom: 1.4rem;
}

#loader {
  color: #fff;
  font-size: 3em;
}

.ui.vertical.steps {
  width: 100%;
  margin-top: 0;
}

.step {
  cursor: pointer;
}

.field.in-active {
  display: none;
}

#stepper-buttons {
  margin-bottom: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 4px;

  @media screen and (min-width: 768px) {
    margin-bottom: 5rem;
  }
}

#stepper-buttons > .ui.button {
  flex-grow: 1;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  #content {
    grid-template-columns: auto;
    grid-template-rows: 60px min-content 1fr;
    grid-template-areas:
      "top"
      "side"
      "main";
  }

  #main {
    padding-left: 14px;
  }

  #side {
    border: none;
    padding-bottom: 0;
  }

  #main-content {
    min-height: 0;
  }

  .visualization-buttons {
    margin-top: 0;
  }
}

header {

  .logo-lfi {
    max-height: 100%;
  }
}

.side-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

#reset-button {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--greenWsl);
  font-size: 1.2rem;
  width: 2rem;
  height: 2rem;
  padding: 0;
  border-radius: 0;
}

h2.ui.header {
  color: var(--greenWsl);
  margin: 0;
}

.step-title {
  color: var(--greenWsl);
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.visualization-buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  @media only screen and (min-width: 767px) {
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
  }

  .buttons {
    width: 100%;
    display: flex;

    @media only screen and (min-width: 767px) {
      width: auto;
      display: block;
    }

    .button {
      flex-basis: 48%;
      border: 2px solid var(--greenWsl);
      color: var(--greenWsl);
      background-color: white;
      padding: 0.5rem 1rem;

      &:hover {
        background-color: #f3f4f5;
      }

      &.active {
        pointer-events: none;
        color: var(--red1);
        border-color: var(--red1);
        background-color: #f3f4f5;
      }
    }
  }

  .visualize-link {
    width: 100%;
    text-align: center;
    padding-top: 10px;

    @media only screen and (min-width: 767px) {
      width: auto;
      text-align: left;
      padding-top: 0;
    }
  }
}

.ui {
  &.header,
  &.steps .step .title,
  &.button,
  &.form input:not([type]) {
    font-family: 'Open Sans', sans-serif;
  }

  &.dropdown {
    .menu {
      > .item {
        font-size: 0.9rem !important;
        line-height: 1.25 !important;
        padding-top: .5rem !important;
        padding-bottom: .5rem !important;
        min-height: 0;
      }

      > .header:not(.ui) {
        font-size: 1rem;
      }
    }
  }

  &.menu {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;

    header.header.item {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0;
    }

    .item {
      padding: 0 0.75rem 0 0;

      &::before {
        background: none;
      }

      &:not(:last-of-type) {
        margin-right: 0.75rem;
        border-right: 1px solid var(--grey4);
      }
    }

    .active.item {
      background: none;
      color: var(--blue1);

      &:hover {
        background: none;
      }
    }

    a.item:hover {
      background: none;
      color: var(--blue1);
    }
  }

  &.steps {
    .step {
      padding: 0.75rem 1rem !important;

      &:not(.active):hover {
        background-color: #f3f4f5;
      }

      .title {
        color: var(--greenWsl);
      }

      &.active {
        .title {
          color: var(--red1);
        }
      }

      .content {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        pointer-events: none;

        .number {
          width: 1.6rem;
          height: 1.6rem;
          margin-right: 1rem;
          font-weight: 600;
          font-size: 1.1rem;
          line-height: 1;
          border: 2px solid var(--greenWsl);
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          color: var(--greenWsl);
        }
      }

      &.active {
        .content {
          .number {
            color: var(--red1);
            border-color: var(--red1);
          }
        }
      }
    }

    &.vertical {
      .active.step {
        &::after,
        &:last-child::after {
          display: none;
        }
      }
    }
  }

  &.toggle.checkbox input:checked ~ label::before {
    background-color: var(--greenWsl);
  }

  &.button,
  &.button:active,
  #stepper-buttons .ui.button:focus {
    background-color: var(--orange2);
  }

  &.button:hover,
  #stepper-buttons .ui.button:focus:hover {
    background-color: var(--orange1);
  }

  .active.button {
    cursor: default;
    pointer-events: none;
  }

  .search.dropdown > .text,
  .dropdown.selection .text {
    line-height: 1.25;
  }
}

@media only screen and (max-width: 767px) {
  .ui.steps:not(.unstackable) .step {
    flex-direction: row;
    justify-content: flex-start;

    .content {
      text-align: left;
    }
  }
}